Package: mytool
Version: 0.0.1
Section: misc
Priority: optional
Architecture: all
Maintainer: Soufiane Ar-Razouki <soufiane.arrazouki@clearchannel.be>
Description: 5Eyes monitoring tool, starts a listener to listen to incoming requests from icinga for LEDMonitoring checks.
Depends: python3-serial, asyncio
